.profile-user{
    margin-top: 5%;
}
.profile-button{
    padding: 40px;
}
.profile-title{
    padding: 40px;
}
.element-id-name{
    margin-bottom: 20px;
}
.skill-element{
    margin-top: 20px;
}

  