.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.banner1{
  margin-top: 100px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.logo a {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}




.nsvj {
  background-image: linear-gradient(to right, #f7f8f8, #beeebe);
  backface-visibility: 0.5%;
}
.webname {
  color: red;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  from {
    color: red;
  }
  to {
    color: yellow;
  }
  to {
    color: red;
  }
}
.lnv {
  text-decoration: none;
  color: #38756e;
  text-align: center;
  list-style: none;
  margin-left: 20px;
  line-height: 35px;
}

.nv {
  text-decoration: none;
  word-spacing: 5px;
  
}
.nv :hover {
  color: black;
  border-radius: 0px;
  text-decoration: none;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  transition: transform 0.7s;
}

.buttons {
  background-color: #f2f2f2;
  border: 1px solid lightgrey;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 5px;
  padding-inline: 10px;
  margin-left: 10px;
  
  
}
.buttons:hover {
  background-image:linear-gradient(to right,#337069 , #42b9ab);
  color: white;
}
/******/
.section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 50px 0px 50px 0px;
  background-image: linear-gradient(to right, #f7f8f8, #beeebe);
  height: 65vh;
  
}
.introduce {
  animation: introduce 0.7s linear;
  margin-left: 100px;
}

@keyframes introduce {
  0% {
    transform: translateY(-70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

.avatarWrap {
  width: 750px;
  color: #9b2a2a;
  position: relative;
  height: 330px;
  margin-top: 55px;
  animation: avatarWrap 0.8s linear;
}

@keyframes avatarWrap {
  0% {
    transform: translateY(70px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}

.letter {
  font-size: 3.5em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}
.letter-M {
  left: 10%;
}
.letter-N {
  right: 10%;
}
.moon {
  background-color: #f5f5f5;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 0 0.6em rgba(255, 255, 255, 0.07),
    0 0 0 1.2em rgba(255, 255, 255, 0.07), 0 0 0 1.8em rgba(255, 255, 255, 0.07);
  animation: moon 3s infinite;
  animation-timing-function: linear;
}
@keyframes moon {
  0% {
    top: 0%;
  }
  50% {
    top: -20%;
  }
  100% {
    top: 0%;
  }
}

.avtart {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;

}
.avtart img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.moon::after {
  content: "";
  position: absolute;
  background-color: #e6e6e6;
  height: 2.1em;
  width: 2.1em;
  border-radius: 50%;
  top: 150px;
  left: 35px;

  box-shadow: 2.6em -1.8em 0 -5px #e6e6e6, 1.9em -5.1em 0 0.4em #e6e6e6;
}
.orbit {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  border-radius: 50%;
  animation: spin 4s infinite linear;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.orbit p {
  position: absolute;
  font-size: 30px;
  top: 2.7rem;
  left: 2.7rem;
}
.rob {
  position: absolute;
  top: 6.3rem !important;
  left: 1.2rem !important;
  opacity: 0.5;
  font-size: 30px;
  transform: rotate(180deg);
}
.luxurious {
  position: absolute;
  font-size: 30px;
  bottom: 3rem;
  right: 4rem;
  color: #1bf1e7;
}
.hello {
  font-size: 35px;
  font-weight: 700;
}
.name {
  font-size: 55px;
  font-weight: 700;
  animation: name 0.8s linear;
}
@keyframes name {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
.introduce-text {
  font-size: 35px;
  font-weight: 700;
}
.describe {
  animation: describe 0.8s linear;
}
@keyframes describe {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
  }
}
.animation-text {
  color: #1bf1e7;
  position: relative;
}
.animation-text::before {
  content: " ";
  position: absolute;
  background-color: #20232f;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  border-left: 2px solid #1bf1e7;
  animation: animate 2.95s steps(12) infinite;
}
@keyframes animate {
  40%,
  60% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}

.iconWrap {
  display: flex;
  margin-top: 35px;
  gap: 35px;
}
.icon {
  font-size: 35px;
  border: 2px solid #1bf1e7;
  color: #1bf1e7;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s;
}
.icon:hover {
  opacity: 0.8;
  transform: scale(1.2);
  background-color: #48f1e9;
  color: black;
}

.btn-downloadCv {
  margin-top: 40px;
  width: 200px;
  height: 50px;
  border-radius: 18px;
  background-color: #1bf1e7;
  border: none;
  box-shadow: 0 0 8px 2px #1bf1e7; /* the shadow */
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.4s;
  color: #383535;
}

.btn-downloadCv:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
