.nsvj {
    background-image: linear-gradient(to right, #f7f8f8, #beeebe);
    backface-visibility: 0.5%;
  }
  .webname {
    color: red;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    from {
      color: red;
    }
    to {
      color: yellow;
    }
    to {
      color: red;
    }
  }
  